/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-abr-2014, 13:36:56
    Author     : raznara
*/



body {
    background-color: lightgrey;
}

.margen-superior {
    margin-top: 80px !important;
}

/* Navbar */
#app {
    position: absolute;
    top: 2%;
    left: 47%;
}

/* Intro de la pagina de inicio */
#intro {
    position: relative;
    background: url(../../images/fotoIntro.jpg) no-repeat center center;
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
    color: #fff;
    padding: 370px 0 200px 0;
    box-shadow: 0px 10px 10px #888888;
}

#intro > h1 {
    display: block;
    position: relative;
    top: -2em;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    color: #fff !important;
    font-size: 500%;
    font-weight: 100;
}

#intro > h1 > span {
    font-size: 30%;
    color: lightgrey;
}

/*.jumbotron {
    background-color: #f0a30a ;
}*/

/* Zona de informacion */

/* Cabecera de las tablas */
.panel-default>.panel-heading {
    background-color:#60a917;
    color:whitesmoke;
}

th{
    min-width: 30px;
    color: whitesmoke;
    background-color: #12C955;
}

.datepicker th{
    background-color: white;
    color: black;
}
