/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-abr-2014, 13:36:56
    Author     : raznara
*/



body {

}

.margen-superior {
    margin-top: 80px !important;
}

/* Navbar */
#app {
    position: absolute;
    top: 2%;
    left: 47%;
}


/* Intro de la pagina de inicio */
.intro {
    position: relative;
    background: url(../../images/entrada.jpg) no-repeat center center;
    background-size: 100% 500px;
    top: 20px;
    padding: 370px 0 75px 0;
    color: white;
}





.informaInicio {
margin-top: 5px;
}

/* Zona de informacion */

/* Cabecera de las tablas */
.panel-default > .panel-heading {
    background-color:#58359F;
    color:white;
}

th{
    min-width: 30px;
    color: whitesmoke;
    background-color: #A77CFC;
}

.datepicker th{
    background-color: white;
    color: black;
}
